@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root[data-theme="light"] {
  --playdate-color1: white;
  --color1: #ffccea;
  --color2: #fff6e3;
  --color3: #cdc1ff;
  --color4: #bfecff;
  --color5: #eefff8;
  --bw-links: #065972;
  --nav-bg: white;
  --background-rb: -webkit-linear-gradient(
    180deg,
    #bfecff 0 25%,
    #cdc1ff 0 50%,
    #fff6e3 0 75%,
    #ffccea 0 100%
  );

  --background-rbm: -webkit-linear-gradient(
    180deg,
    #eefff8 0 16.66%,
    #bfecff 0 33%,
    #cdc1ff 0 50%,
    #fff6e3 0 67%,
    #ffccea 0 83%,
    #eefff8 0 100%
  );
  --footer-color:#f8d8ea8b;
  --footer-link:#245990;
}
:root[data-theme="dark"] {
  --color1: rgb(66, 66, 66);
  --color2: rgb(124, 124, 124);
  --color3: rgb(189, 189, 189);
  --color4: rgb(209, 207, 207);
  --color5: #262626;
  --bw-links: rgb(255, 255, 255);
  --nav-bg: rgb(38, 38, 38);
  --background-rb: -webkit-linear-gradient(
    180deg,
    rgb(209, 207, 207) 0 25%,
    rgb(189, 189, 189) 0 50%,
    rgb(124, 124, 124) 0 75%,
    rgb(66, 66, 66) 0 100%
  );
  --background-rbm: -webkit-linear-gradient(
    180deg,
    #262626 0 16.66%,
    rgb(209, 207, 207) 0 33%,
    rgb(189, 189, 189) 0 50%,
    rgb(124, 124, 124) 0 67%,
    rgb(66, 66, 66) 0 83%,
    #262626 0 100%
    
  );

  --img-filter:grayscale(100%);
  --footer-color:rgba(0, 0, 0, 0.429);
  --footer-link:white;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  transition:color 500ms,background-color 500ms,filter 500ms,-webkit-filter 500ms, border 500ms;
}

p,h1,h2,h3{
  color:var(--bw);
 
}

button {
     -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
-webkit-border-radius: none;
}

img{
    -webkit-filter: var(--img-filter); /* Safari 6.0 - 9.0 */
  filter: var(--img-filter);
}
/* NAVBAR ------------------------------------------------ */

nav {
  display: flex;
  grid-template-columns: auto 1fr;

  align-items: center;

  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);

  padding: 10px;

  justify-content: space-between;
  width: 100%;

  height: 100%;
  overflow: hidden;
}

.navholder {
  top: 0;
  position: sticky;
  z-index: 1000;
  background-color: var(--nav-bg);
}

nav .brand a {
  padding: 0;
  filter: drop-shadow(5px 5px 5px #22222273);
  transition: text-shadow 0.3s, color 0.3s;
}

nav .brand a:hover,
nav .brand a:active {
  box-shadow: none;
  background: none;
  color: #2f6daf;
  border-radius: initial;
  text-shadow: 1px 1px 2px black;
}

nav .brand img {
  max-height: 50px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

nav .links {
  display: flex;
  white-space: nowrap;
}
nav .links a {
  flex: 1;
  flex-direction: row-reverse;
  text-align: center;
  font-size: 1.5rem;
}

nav a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s,
    text-shadow 0.3s;
  color: var(--bw-links);
}

nav a:hover,
nav a.active {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.666);

  border-radius: 3px;
}

div.color1 {
  background: var(--color1);
}
div.color2 {
  background: var(--color2);
}
div.color3 {
  background: var(--color3);
}
div.color4 {
  background: var(--color4);
}
.color1:hover,
.color1:active {
  background: var(--color1);
}
.color2:hover,
.color2:active {
  background: var(--color2);
}
.color3:hover,
.color3:active {
  background: var(--color3);
}
.color4:hover,
.color4:active {
  background: var(--color4);
}
.color5:hover,
.color5:active {
  color: initial;
  background: var(--color5);
}

nav a.mascot {
  padding: 0;
}

nav a.mascot img {
  height: 40px;
}

.hidden {
  display: none;
}

/* Darkmode ------------------------------------------------ */
.darkmode {
  /* max-width: 50px;
  max-height: 100px;
  position: absolute;
  left: 0;
  top: 100px; */
  float:right;
  padding-left:5px;
  
}

.darkmode:hover,.darkmode:active {
  cursor: pointer;
  img{
        transform: rotate(30deg);
  transform-origin: 60% 60%;
  }
}

.darkmode img {
  max-width: 100%;
  transition: transform 200ms,transform-origin 200ms;
} 


/* MAIN CONTENT ------------------------------------------------ */

a:hover,
a:active {
  cursor: pointer;
}
.row {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.column {
  width: 100%;
}
.column.left.sidebar,
.column.right.sidebar {
  background-color: pink;
  width: 5%;
  object-fit: cover;
  background: var(--background-rb);
}

.column.left.sidebar {
  box-shadow: -2px -3px 5px 0px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: -2px -3px 5px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: -2px -3px 5px 0px rgba(0, 0, 0, 0.2) inset;
}

.column.right.sidebar {
  box-shadow: 2px -3px 5px 0px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 2px -3px 5px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 2px -3px 5px 0px rgba(0, 0, 0, 0.2) inset;
}

.column.middle.content {
  background-color: #eefcff;
  width: 90%;
  background: var(--background-rbm);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* FOOTER ------------------------------------------------ */

footer {
  margin-top: auto;
  justify-content: center;
  width: 100%;
  color: white;
  position: relative;
  bottom: 0;
  text-align: center;
  background-color: var(--footer-color);
}

footer a img {
  width: 100px;
  height: auto;
  margin: 0 auto;
  transition: transform 500ms;
}
footer a:hover,
footer a:active {
  img {
    transform: rotate(360deg);
  }
  p {
    font-weight: 700;
  }
  cursor: pointer;
}
footer a p {
  width: 100%;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 10px;
  line-height: 10px;
  color: var(--footer-link);
}

/* tablet breakpoint ------------------------------------------------ */

@media (max-width: 1100px) {
  nav .links a {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 720px) {
  nav .links a {
    font-size: 3cqw;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 650px) {
  .links a {
    display: none;
  }
  .column.middle.content {
    width: 100%;
  }
  .column.left.sidebar,
  .column.right.sidebar {
    display: none;
  }
}
